.MoviesWrapper {
	text-align: center;
	width: 100%;
}

.MoviesWrapper h2 {
	background-color: var(--primary);
	color: var(--text-primary);
	margin: 1rem 0;
	padding: 0.5rem 0;
}

.Movies {
	width: 100%;
	display: grid;
	gap: 10px;
	justify-content: space-evenly;
	grid-template-columns: repeat(auto-fill, 200px);
}
