.VideoWrapper {
	margin: 10px 30px;
	max-width: 800px;
}

.VideoWrapper video {
	margin: 10px 0;
	width: 100%;
}

.VideoWrapper h1 {
	color: var(--text-primary);
}

.VideoWrapper p {
	border-top: 10px solid var(--primary);
	border-bottom: 10px solid var(--primary);
	color: var(--text-primary);
	padding: 30px 0;
}

.Info {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	color: var(--text-primary);
	margin: 10px 0;
}

.Info h2:nth-child(2),
.Info h2:nth-child(4) {
	margin-left: auto;
}
